@model List<Urun> 

@{
    ViewData["Title"] = "Ara";
}

<h2>Ara</h2>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var urun in Model)
        {
            <li>@urun.Ad</li>
        }
    </ul>
}
else
{
    <p>Aradığınız ürün bulunamadı.</p>
}
