@model Urun

<h1>Ürün Silme</h1>
<h2>Asagida bilgileri verilen ürünü silmek istediginize emin misiniz?</h2>

<form asp-controller="Market" asp-action="Sil" method="post">
    <div class="form-group">
        <label class="form-label" asp-for="Ad">Ürün Adı</label>
        <input readonly class="form-control" asp-for="Ad" />
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Fiyat">Fiyat</label>
        <input readonly class="form-control" asp-for="Fiyat" />
    </div>

    <div class="form-group">
        <div class="form-check">
            <input disabled class="form-check-input" type="checkbox" asp-for="StokDurumu" />
            <label class="form-check-label" asp-for="StokDurumu">Stok Durumu</label>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <label asp-for="ResimAdi">Resim Adi:</label>
            <input hidden asp-for="ResimAdi" />
        </div>
    </div>

    <button class="btn btn-danger">Evet</button>
    <a class="btn btn-outline-danger" asp-action="Listele">HAYIR</a>
</form>
